<html>
<head>
    <title>Carbon sample</title>
</head>
<body>
<h1>Date is {{ date.toDateTimeString }}</h1>
<a href="/carbon">Back</a>

<h1>10 last checked datetimes</h1>
<ul>
    {% for entry in log %}
        <li>{{ entry.date.toDateTimeString }}</li>
    {% endfor %}
</ul>
</body>
</html>
