<html>
<head>
    <title>Carbon sample</title>
    {{ xgc_assetic('all') }}
</head>
<div class="container">
    <h3><i class="fa fa-calendar"></i></h3>
    <div>Test : <a href="{{ path('app_carbon_carbon_carbon', {date: '21-02-1986'}) }}">Redirect to /carbon/21-02-1986</a></div>
    <div>{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}</div>
</div>
</body>
</html>
