<html>
<head>
    <title>Carbon sample</title>
</head>
<body>
<a href="/carbon/21-02-1986">Redirect to /carbon/21-02-1986</a>

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
</body>
</html>
