<html>
<head>
    <title>Carbon sample</title>
</head>
<body>
<div><b>Post Max Size in bytes: </b>{{ postMaxSize }}</div>
<div><b>Post Max Size as in php.ini: </b>{{ postMaxSizeAlt }}</div>
</body>
</html>
