<html>
<head>
    {{ xgc_assetic('prettify') }}
</head>
<body>
Hello world

{% code %}
&lt;?php
function penepene()
{
    echo "penepene";
    echo "penepene$asd";
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
}
{% endcode %}

{% code %}
&lt;?php
function penepene()
{
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
    echo "penepene";
}
{% endcode %}

{% code %}
&lt;div class="container"&gt;Hello&lt;/div&gt;
{% endcode %}



</body>
</html>
